* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-fluid {
  padding: 10px 20px;
}
.container-fluid .row .col-sm-11 {
  background-color: #3498db;
  margin: 11px;
}
.container-fluid .row .col-sm-3 {
  background-color: #2ecc71;
  height: 300px;
}
.container-fluid .row .col-sm-8 {
  background-color: #e74c3c;
  margin-left: 20px;
}
.container-fluid .row {
  margin: auto;
}
